{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Entries{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('entries.create') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
	{% for entry in entries %}
	<article class="entry">
		<header>
		<div>
		<h1>{{ entry['payee'] }}</h1>
		<div class="about">by {{ entry['username'] }} on {{ entry['date'].strftime('%Y-%m-%d') }}
Amount: ${{ '%0.2f'|format(entry['amount']/100.0)|float }} Source: {{ entry['source'] }} Category: {{ entry['category'] }}</div>
		</div>
		{% if g.user['id'] == entry['payer_id'] %}
			<a class="action" href="{{ url_for('entries.update', id=entry['id']) }}">Edit</a>
		{% endif %}
		</header>
		<p class="body">{{ entry['body'] }}</p>
	</article>
	{% if not loop.last %}
	<hr>
	{% endif %}
	{% endfor %}
{% endblock %}
